.chat-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
  padding: 0 20px;
  background-color: #121212;
}

.chat-header {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 2rem;
  color: #00d4ff;
}

.chat-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #868787;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  margin-top: 5px;
  background-color: #868787;
  max-height: calc(100vh - 180px);
}

.input-container {
  display: flex;
  flex-direction: column;
  background-color: #868787;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
}

.message-input {
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto;
  resize: none;
  border: none;
  padding: 10px;
  margin-bottom: 10px; /* Espacio entre el input y los botones */
  box-sizing: border-box;
}

.input-buttons-wrapper {
  display: flex;
  justify-content: center;
  width: 100%; /* Asegura que el contenedor de los botones ocupe todo el ancho */
  overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}

.input-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: nowrap; /* Evita que los botones se muevan a la siguiente línea */
  background-color: #e1eff8;
  padding: 10px;
  width: 100%; /* Asegura que los botones ocupen todo el ancho disponible */
  box-sizing: border-box;
}

.input-buttons button {
  flex: 1 1 auto;
  white-space: nowrap; /* Evita que el texto se rompa */
}

.messages-card {
  background-color: transparent;
  box-shadow: none;
  margin: 5px;
}

.sent mat-card-content {
  background-color: #2b5278;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgb(0, 49, 83);
  margin-bottom: 10px;
  width: 80%;
}

.received mat-card-content {
  background-color: #9d9697;
  color: #000000;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #000000;
  margin-bottom: 10px;
  width: 80%;
}

.message-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mat-icon-button {
  margin-left: auto;
}
