@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

.chat-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #121212;
}

.chat-header {
  text-align: center;
  padding: 0px 0;
  margin: 22px 0;
  font-size: 4rem;
  color: #00d4ff;
}

.chat-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #868787;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  background-color: #868787;
  max-height: calc(100vh - 180px); /* Ajusta la altura para mantener el área de entrada visible */
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 95px;
  background-color: #868787; /* Fondo uniforme para el área de entrada */
}

.message-input {
  width: 100%;
  min-height: 66px;
  max-height: 200px;
  overflow-y: auto;
  resize: none;
  border: none; /* Sin borde para un diseño más limpio */
}

.input-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0px 0;
  background-color: #e1eff8;
}

.sent mat-card-content {
  background-color: #82c1ff;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #0077cc;
  margin-bottom: 10px;
}

.received mat-card-content {
  background-color: #ff98a1;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #cc3737;
  margin-bottom: 10px;
}

.mat-card {
  box-shadow: none;
}

.message-flex-container {
  display: flex;
  justify-content: space-between; /* Alinea el texto a la izquierda y el botón a la derecha */
  align-items: center; /* Centra los elementos verticalmente */
  width: 100%; /* Asegura que el contenedor ocupe todo el espacio horizontal disponible */
}

.mat-icon-button {
  margin-left: auto; /* Empuja el botón de borrar hacia la derecha del todo */
}
